<nav class="navbar navbar-default drop">
  <div class="container-fluid center">
      <div class="navbar-header">
          <a class="navbar-brand" routerLink="/">
            <img src="assets/img/logo_9ember.png" class="logo" alt="logo">
          </a>
          <span class="navbar-brand"><strong>9ember</strong></span>
      </div>
      <ul class="nav navbar-nav">
          <li class="active"><a href="#">
            Sobre <span class="sr-only">(current)</span>
          </a></li>
          <li><a href="#spec">Especialidades</a></li>
          <li><a href="#">Clientes</a></li>
          <li><a href="#">Time</a></li>
          <li><a href="#">Contato</a></li>
          <li class="dropdown" dropdown> <!-- {1} -->
              <a dropdownToggle role="button"> <!-- {2} -->
                Produtos <span class="caret"></span></a>
              <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
                <li><a href="https://www.opportunity-web.com.br" target="_blank">Opportunity</a></li>
                <li><a href="https://www.spartacla.com.br" target="_blank">Sparta Clã</a></li>
                  <!--li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li-->
              </ul>
          </li>
      </ul>
  </div>
</nav>
