<header class="masthead font-white">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h1 class="mx-auto my-0 text-uppercase"><img src="assets/img/logo_9ember.png" class="logo" alt="logo"> 9ember
        </h1>
        <h3 class="text-white-50 mx-auto mt-2 mb-5">Especialistas em Sistemas Web</h3>
        <div class="margin-top-small">
          <a class="btn btn-primary" (click)="scroll(spec)">Saber mais</a>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container" #spec>
  <h3 class="text-muted">Especialidades</h3>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 panel panel-default">
        <div class="panel-body card">
          <h4 class="panel-heading"><a href="https://angular.io/" target="_blank"><img src="/assets/img/spec/angular.png" style="max-width: 100px;" alt="angular"> Angular</a></h4>
          <p class="card-text">Construímos nossos sistemas usando sempre as últimas versões e boas práticas do
            Framework <a href="https://angular.io/" target="_blank">Angular</a> da <a href="www.google.com"
              target="_blank">Google</a>.</p>
          <a target="_blank" href="https://angular.io/" class="btn btn-primary">Mais detalhes</a>
        </div>
      </div>
      <div class="col-md-6 panel panel-default">
        <div class="panel-body card">
          <h4 class="panel-heading"><a href="https://www.devmedia.com.br/introducao-ao-java-server-pages-jsp/25602"
              target="_blank"><img src="/assets/img/spec/jsp.png" style="max-width: 80px;" alt="jsp"> JSP</a></h4>
          <p class="card-text">Mesmo sendo uma tecnologia pouco usada em novos projetos atualmente, também
            desenvolvemos sistemas usando <a
              href="https://www.devmedia.com.br/introducao-ao-java-server-pages-jsp/25602" target="_blank">JSP</a>
            (Java Server Pages), criada pela <a href="https://en.wikipedia.org/wiki/Sun_Microsystems"
              target="_blank">SUN</a>.</p>
          <a target="_blank" href="https://www.devmedia.com.br/introducao-ao-java-server-pages-jsp/25602"
            class="btn btn-primary">Mais detalhes</a>
        </div>
      </div>
      <div class="col-md-6 panel panel-default">
        <div class="panel-body card">
          <h4 class="panel-heading"><a href="https://spring.io/projects/spring-boot" target="_blank"><img src="/assets/img/spec/spring.png" style="max-width: 100px;" alt="spring"> Spring Boot</a></h4>
          <p class="card-text">Também desenvolvemos sistemas usando JSP (Java Server Pages) criada pela <a href=""
              target="_blank">SUN</a>.</p>
          <a target="_blank" href="https://spring.io/projects/spring-boot" class="btn btn-primary">Mais detalhes</a>
        </div>
      </div>

      <div class="col-md-6 panel panel-default">
        <div class="panel-body card">
          <h4 class="panel-heading"><a href="https://www.devmedia.com.br/introducao-a-servlets-em-java/25285"
              target="_blank"><img src="/assets/img/spec/servlets.png" style="max-width: 50px;" alt="spring"> Servlets</a></h4>
          <p class="card-text">Também sendo uma tecnologia pouco usada em novos projetos atualmente, desenvolvemos
            sistemas usando Servlets criada pela <a href="" target="_blank">SUN</a> no Back End.</p>
          <a target="_blank" href="https://www.devmedia.com.br/introducao-a-servlets-em-java/25285"
            class="btn btn-primary">Mais detalhes</a>
        </div>
      </div>

      <div class="col-md-6 panel panel-default">
        <div class="panel-body card">
          <h4 class="panel-heading"><a
              href="https://www.apple.com/br/swift/#:~:text=Swift%20%C3%A9%20uma%20linguagem%20de,mais%20liberdade%20para%20os%20desenvolvedores."
              target="_blank"><img src="/assets/img/spec/swift.png" style="max-width: 50px;" alt="spring"> Swift</a></h4>
          <p class="card-text"><a
              href="https://www.apple.com/br/swift/#:~:text=Swift%20%C3%A9%20uma%20linguagem%20de,mais%20liberdade%20para%20os%20desenvolvedores."
              target="_blank">Swift</a> é uma poderosa linguagem de programação mobile criada pela <a
              href="https://www.apple.com/" target="_blank">Apple</a> para criação de apps para IOS, Mac, Apple TV e
            Apple Watch.</p>
          <a target="_blank"
            href="https://www.apple.com/br/swift/#:~:text=Swift%20%C3%A9%20uma%20linguagem%20de,mais%20liberdade%20para%20os%20desenvolvedores."
            class="btn btn-primary">Mais detalhes</a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="hr-dark">
