<header class="masthead font-white">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
      <div class="d-flex justify-content-center">
          <div class="text-center">
              <h1 class="mx-auto my-0 text-uppercase">9ember</h1>
              <h2 class="text-white-50 mx-auto mt-2 mb-5">Especialistas em Sistemas Web</h2>
              <div class="margin-top-small">
                <a class="btn btn-primary" (click)="scroll(spec)">Saber mais</a>
              </div>
          </div>
      </div>
  </div>
</header>
<div class="container" #spec>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="text-muted">Front End</h3>
        </div>
        <div class="card-body">
          <h4 class="card-title"><a href="https://angular.io/" target="_blank">Angular</a></h4>
          <p class="card-text">Construímos nossos sistemas usando sempre as últimas versões e boas práticas do Framework <a href="https://angular.io/" target="_blank">Angular</a> da <a href="www.google.com" target="_blank">Google</a>.</p>
          <a href="#" class="btn btn-outline-primary">Mais detalhes</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="text-muted">Front End</h3>
        </div>
        <div class="card-body">
          <h4 class="card-title"><a href="https://www.devmedia.com.br/introducao-ao-java-server-pages-jsp/25602" target="_blank">JSP</a></h4>
          <p class="card-text">Mesmo sendo uma tecnologia pouco usada em novos projetos atualmente, também desenvolvemos sistemas usando <a href="https://www.devmedia.com.br/introducao-ao-java-server-pages-jsp/25602" target="_blank">JSP</a> (Java Server Pages), criada pela <a href="https://en.wikipedia.org/wiki/Sun_Microsystems" target="_blank">SUN</a>.</p>
          <a href="#" class="btn btn-outline-primary">Mais detalhes</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="text-muted">Back End</h3>
        </div>
        <div class="card-body">
          <h4 class="card-title"><a href="https://spring.io/projects/spring-boot" target="_blank">Spring Boot</a></h4>
          <p class="card-text">Também desenvolvemos sistemas usando JSP (Java Server Pages) criada pela <a href="" target="_blank">SUN</a>.</p>
          <a href="#" class="btn btn-outline-primary">Mais detalhes</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="text-muted">Back End</h3>
        </div>
        <div class="card-body">
          <h4 class="card-title"><a href="https://www.devmedia.com.br/introducao-a-servlets-em-java/25285" target="_blank">Servlets</a></h4>
          <p class="card-text">Também sendo uma tecnologia pouco usada em novos projetos atualmente, desenvolvemos sistemas usando Servlets criada pela <a href="" target="_blank">SUN</a> no Back End.</p>
          <a href="#" class="btn btn-outline-primary">Mais detalhes</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<hr class="hr-dark">



