<div class="container">
  <h3 class="text-muted margin-bottom-small">Clientes</h3>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <a href="https://www.wearemci.com/pt-br" target="_blank">
          <img src="/assets/img/clients/mci.png" class="logo" alt="mci">
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.spartacla.com.br" target="_blank">
          <img src="/assets/img/clients/spartan-cla-logo.png" class="logo" alt="sparta cla">
        </a>
      </div>
    </div>
  </div>
</div>
