<div class="container">
  <div class="left">
    <h4 class="margin-bottom-small font-title">Nossos Clientes</h4>
  </div>
  <div class="col-md-12 center">
    <div class="row">
      <div class="col-md-3">
        <a href="https://www.wearemci.com/pt-br" target="_blank">
          <img src="/assets/img/clients/mci.png" class="logo" alt="mci">
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.spartacla.com.br" target="_blank">
          <img src="/assets/img/clients/spartan-cla-logo.png" class="logo" alt="sparta cla">
        </a>
      </div>
    </div>
  </div>
</div>
