<header class="masthead font-white">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
      <div class="d-flex justify-content-center">
          <div class="text-center">
              <h1 class="mx-auto my-0 text-uppercase">9ember</h1>
              <h2 class="text-white-50 mx-auto mt-2 mb-5">Especialistas em Sistemas Web</h2>
              <a class="btn btn-primary" href="#about">Saber mais</a>
          </div>
      </div>
  </div>
</header>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Mais detalhes</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Mais detalhes</a>
        </div>
      </div>
    </div>

  </div>
</div>


